# Application development
fastapi[standard]
uvicorn
pydantic
pydantic-settings
sqlalchemy
passlib[argon2]  # Use Argon2 instead of bcrypt to avoid bcrypt issues
pyjwt
asyncpg
fastapi-mail
itsdangerous
python-dotenv
httpx

# Emailing
sib_api_v3_sdk

# AI Features
langchain
langchain_community
langchain-groq
pinecone[asyncio]

langgraph

alembic


