
# Application development
fastapi
uvicorn
fastapi[standard]
sqlmodel
passlib
pyjwt
asyncpg
bcrypt
fastapi-mail
itsdangerous


# Migrations
alembic


# AI Features
langchain
langchain_community
huggingface
langchain-groq
langchain-huggingface
youtube-transcript-api
huggingface
sentence-transformers
chromadb
langchain_chroma


