# Application development
fastapi[standard]
uvicorn
pydantic
pydantic-settings
sqlmodel
sqlalchemy
passlib[argon2]  # Use Argon2 instead of bcrypt to avoid bcrypt issues
pyjwt
asyncpg
fastapi-mail
itsdangerous
python-dotenv
httpx

# AI Features
langchain
langchain_community
langchain-groq
pinecone[asyncio]

langgraph


